APP_NAME=AI Enterprise Chatbot
APP_VERSION=0.1.0
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=chatbot
POSTGRES_USER=chatbot_app
POSTGRES_PASSWORD=changeme
READONLY_POSTGRES_USER=readonly_user
READONLY_POSTGRES_PASSWORD=readonly_changeme
GROQ_API_KEY=your-groq-api-key-here
QDRANT_HOST=qdrant
QDRANT_PORT=6333
JWT_SECRET_KEY=4887fe1aeebad947605d7a8eb9af8a0d8949870db35a50284314f530f832e6b4
